<h1>Institucion Educativa XXX</h1>

<ul>
	<li><%= link_to"Ingresar como profesor", teachers_path%></li>
	<li><%= link_to"Ingresar como estudiante", courses_path%></li> 
	<li><%= link_to"Visitante", courses_path%></li> 
</ul>